venv/
08/tests/
tools/
08/__pycache__/
.idea/
10/__pycache__/
Dan/
07/MemoryAccess/
07/StackArithmetic/
07/T2/
07/T3/
scratch.py
t.txt
07/shirel/
07/__pycache__/
07/text
10/ArrayTest/Main.xml
10/ExpressionLessSquare/Main.xml
10/ExpressionLessSquare/Square.xml
10/ExpressionLessSquare/SquareGame.xml
10/drive-tests/
11/Average/Main.vm
11/ComplexArrays/Main.vm
11/ConvertToBin/Main.vm
11/Pong/Ball.vm
11/Pong/Bat.vm
11/Pong/Main.vm
11/Pong/PongGame.vm
11/Seven/Main.vm
11/Square/Main.vm
11/Square/Square.vm
11/Square/SquareGame.vm
11/__pycache__/
11/drive-tests/
12/OutputTest
12/SysTest
12/ArrayTest
00/AUTHORS
04/drive-tests/
05/drive-tests
06/drive-test/
10/drive_tests/
12/KeyboardTest/
12/MathTest/
12/MemoryTest/
12/Pong/
12/ScreenTest/
12/ScreenTest/
12/StringTest/
05/CPU.out
06/__pycache__/
12/drive_tests/